<!DOCTYPE html>
<html>
<head>
	<title>Blog Application</title>
	<style>
		h1{
			text-transform: capitalize;
			text-shadow: hsl();
			text-decoration-color: currentColor;
		}
	</style>
</head>
<body>
<body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 09/01/2019, time: 02:28pm</p>
            <h2><a href="">My first post</a></h2>
            <p>
            	HEY MAN!!!! I am really happy that this is my first post but I will not decline that uptill now I have no idea of about what I am doing till now :D
            </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>HEY MAN!!!! I am really happy that this is my second post but I will not decline that uptill now I have no idea of about what I am doing till now :D
        </div>
    </body></body>
</html>