<!DOCTYPE html>
<html>
<head>
	<title>Blog Application</title>
	<style>
		h1{
			text-transform: capitalize;
			text-shadow: hsl();
			text-decoration-color: currentColor;
		}
	</style>
</head>
<body>
<body>
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <div>
        	{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
        </div>
    </body></body>
</html>